.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.5;
  user-select: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  color: #fafafa;

  &.btn-primary {
    background-color: springgreen;
  }

  &.btn-secondary {
    background-color: $royal-purple;
  }

  &.btn-danger {
    background-color: tomato;
  }

  &.btn-outline-gray {
    border: 1px solid slategray;
    color: slategray;
  }
}
