.current-day {
  width: auto;
  padding: 20px;
  margin: 20px;
  box-shadow: $card-shadow;
  border-radius: 20px;
  background-color: ivory;

  .header {
    .day-line {
      font-size: 24px;
    }

    padding: 10px 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
}

.add-items {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 10px 0 0 0;
  }

  strong {
    margin: 10px 0;
  }

  select {
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
