@import "@scss/states/states.scss";

.current-day {
  width: auto;
  padding: $large-spacing;
  margin: $large-spacing;
  box-shadow: $card-shadow;
  border-radius: $large-radius;
  background-color: ivory;

  .header {
    .day-line {
      font-size: 24px;
    }

    padding: $medium-spacing 0 $large-spacing 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: $large-spacing;
  }

  .day-planning {
    .planning-item {
      font-size: 15px;
      padding: $medium-spacing 0;
    }
  }
}

.add-items {
  display: flex;
  flex-direction: column;

  h3 {
    margin: $medium-spacing 0 0 0;
  }

  strong {
    margin: $medium-spacing 0;
  }

  select {
    font-size: 15px;
    padding: $medium-spacing $large-spacing;
    border-radius: $large-radius;
    margin-bottom: $large-spacing;
  }
}
