form {
  display: flex;
  flex-direction: column;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px 10px 20px;

    label {
      font-size: 18px;
      margin-bottom: 4px;
      margin-top: 10px;
    }

    input {
      font-size: 15px;
      padding: 14px 16px;
      margin: 0;
      appearance: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
  }
}
