$charcoal: #2f4858ff;
$y-in-mn-blue: #40547cff;
$royal-purple: #735895ff;
$red-violet-crayola: #b15394ff;
$blush: #e54e77ff;
$tomato: #ff6347ff;

$card-shadow: 0 3px 10px
  rgba(
    $color: #000000,
    $alpha: 0.3
  );
