.calendar {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: $card-shadow;
  background-color: ivory;

  .month-selector-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;

    .month-holder {
      font-size: 24px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span:last-child {
          margin-top: 2px;
          font-size: 16px;
        }
      }
    }

    .month-switch-button {
      padding: 10px;

      .far,
      .fas {
        pointer-events: none;
      }
    }
  }

  .header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 40px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: calc(100% / 7);
      text-transform: uppercase;
    }
  }

  .days-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .day {
      min-width: calc(100% / 7);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 30px;
        pointer-events: none;

        transition: background 0.3s ease-in-out;
      }

      &.current {
        span {
          border: 1px solid tomato;
        }
      }

      &.selected {
        span {
          background-color: $charcoal;
          color: ivory;
        }
      }
    }
  }
}
